<config>
    <server>
        <address>127.0.0.1:20000</address>
        <protocol>TinyPB</protocol>
        <iothread_num>4</iothread_num>
    </server>
    <upstream>
        <name>wf-rpc-upstream</name>
        <type>weighted_random</type>
        <try_another>true</try_another>
        <servers>
            <server address="127.0.0.1:9100" weight="5"/>
            <server address="127.0.0.1:9101" weight="1"/>
        </servers>
    </upstream>
    <log>
        <level>INFO</level>
        <path>./logs/</path>
    </log>
</config>